<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>
  </head>
  <body>

    <div id="map"></div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script>
    console.log("BEFORE")
    var settings = {
      "async": true,
      // "json": "callback",
      "dataType": "json",
      "crossDomain": true,
      "url": "http://fyrefite.com/api/getgames/",
      "method": "GET",
      "headers": {
        "Content-Type": "application/json",
        // "Cache-Control": "no-cache"
      }
    }

    var circles = [];
    var map;
    var image = 'https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle_blue.png';

    function initMap() {
      // Create the map.
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: {lat: 37.090, lng: -95.712},
        mapTypeId: 'terrain'
      });
    }
    console.log("FOR LOOP")
    function clearOverlays() {
        for (var i = 0; i < circles.length; i++ ) {
          circles[i].setMap(null);
        }
        circles.length = 0;
      }

      setInterval(() => {
        clearOverlays();

        $.ajax(settings).done(function (response) {
          // console.log(response[0].lat);
          for(var key in response){
            console.log(response);

            // Add the circle for this city to the map.
            var cityCircle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: {lat: response[key].lat, lng: response[key].long},
              radius: response[key].r
            });
            circles.push(cityCircle);

            var infowindow = new google.maps.InfoWindow({
              position: {lat: response[key].lat, lng: response[key].long},
              content: "hellooooo",
            });
            circles.push(infowindow);

            //add markers
            var marker = new google.maps.Marker({
              position: {lat: response[key].lat, lng: response[key].long},
              map: map,
              title: 'Hello World!'
            });

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });

            circles.push(marker);


            //add players
            var players = response[key].players;
            if (players != 0){
              for (var i = 1; i < players.length; i++ ){
                var marker = new google.maps.Marker({
                  position: {lat: players[i].lat, lng: players[i].long},
                  map: map,
                  icon: image
                });
                circles.push(marker);
              }
            }
          }
        });
      }, 1000);

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ19AGRXBu3qi6d_H4EbxMIBCqmRCa4Qs&callback=initMap">
</script>
  </body>
</html>
